<div id="logo">
<div class="inset" id="tituloHeader">VARCH</div>
<div id="subtituloHeader">//Sistema de Validación de Archivos</div>
</div>
<div id="logoTec">
<%= image_tag "logoTEC.gif", :id=>"logoTec" %>
</div>
<hr />
