<h1>Editando código fuente</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', course_exercise_source_code_path(@exercise.course, @exercise, @source_code) %> |
<%= link_to 'Atrás', course_exercise_source_codes_path(@exercise.course, @exercise) %>
