<h1>Editing source_code</h1>

<%= render 'form' %>

<%= link_to 'Show', course_exercise_source_code_path(@exercise.course, @exercise, @source_code) %> |
<%= link_to 'Back', course_exercise_source_codes_path(@exercise.course, @exercise) %>
